<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/arifmetik_amallar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import pandas as pd
import numpy as np

In [72]:
t1 = pd.Series([40, -30, 2.7, 91, 35, 71, 98.2, 32.1, -83], index = ['x', 'm', 'n', 'p', 'o', 'u', 'k', 'l', 'j'])
t2 = pd.Series([31, -19, 1.5, 82, 21, 39, 71.9], index = ['x', 'm', 'n', 'p', 'o', 'u', 'k'])

# t1 va t2 Series hosil qilib oldik index qatorlarini Series ichida hosil qilib oldik

In [73]:
t1+t2 # t1 vat2 elementarni qoshidik sonlar bir biriga tugri kelmaganligi uchun nan berdi

j      NaN
k    170.1
l      NaN
m    -49.0
n      4.2
o     56.0
p    173.0
u    110.0
x     71.0
dtype: float64

In [74]:
set1 = pd.DataFrame(np.arange(9.).reshape(3, 3), columns=list('abc'), index=['Kartoshka', 'Sabzi', 'Guruch'])
set2 = pd.DataFrame(np.arange(12.).reshape(4, 3), columns=list('klm'), index=['Go\'sht', 'Guruch', 'Tuz', 'Murch'])

# set1 set2 dataframe hosil qilib unga 3 ga 4 qatorli sonlarni va indexga abc va klm qatoriga nom berib qimatini hosil qilib oldik

In [75]:
set1

             a    b    c
Kartoshka  0.0  1.0  2.0
Sabzi      3.0  4.0  5.0
Guruch     6.0  7.0  8.0

In [76]:
set2

          k     l     m
Go'sht  0.0   1.0   2.0
Guruch  3.0   4.0   5.0
Tuz     6.0   7.0   8.0
Murch   9.0  10.0  11.0

In [77]:
set1+set2 # set1 av set2 ni qoshib oldik sonlar bir biriga tugri kelmaganlii uchun NAN berdi

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

In [78]:
set1.add(set2) # add orqali qoshish kodini bajardik

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

In [79]:
set1.add(set2, fill_value=0) # oxiri jadva korinishida qoshib keladi

             a    b    c    k     l     m
Go'sht     NaN  NaN  NaN  0.0   1.0   2.0
Guruch     6.0  7.0  8.0  3.0   4.0   5.0
Kartoshka  0.0  1.0  2.0  NaN   NaN   NaN
Murch      NaN  NaN  NaN  9.0  10.0  11.0
Sabzi      3.0  4.0  5.0  NaN   NaN   NaN
Tuz        NaN  NaN  NaN  6.0   7.0   8.0

In [80]:
set2.sub(set1) # bu airish funksiasi

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

In [81]:
set1.sub(set2, fill_value=0) # bu ham jadval oxiridan airb keladi

             a    b    c    k     l     m
Go'sht     NaN  NaN  NaN  0.0  -1.0  -2.0
Guruch     6.0  7.0  8.0 -3.0  -4.0  -5.0
Kartoshka  0.0  1.0  2.0  NaN   NaN   NaN
Murch      NaN  NaN  NaN -9.0 -10.0 -11.0
Sabzi      3.0  4.0  5.0  NaN   NaN   NaN
Tuz        NaN  NaN  NaN -6.0  -7.0  -8.0

In [82]:
set2.rsub(set1, fill_value=0) # ornini almashtirib airish

             a    b    c    k     l     m
Go'sht     NaN  NaN  NaN  0.0  -1.0  -2.0
Guruch     6.0  7.0  8.0 -3.0  -4.0  -5.0
Kartoshka  0.0  1.0  2.0  NaN   NaN   NaN
Murch      NaN  NaN  NaN -9.0 -10.0 -11.0
Sabzi      3.0  4.0  5.0  NaN   NaN   NaN
Tuz        NaN  NaN  NaN -6.0  -7.0  -8.0

In [83]:
set1.div(set2) # bo'lish funksiasi

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

In [84]:
set2.div(set1)

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

In [85]:
set2.rdiv(set1) # bu bolish funksiasi

            a   b   c   k   l   m
Go'sht    NaN NaN NaN NaN NaN NaN
Guruch    NaN NaN NaN NaN NaN NaN
Kartoshka NaN NaN NaN NaN NaN NaN
Murch     NaN NaN NaN NaN NaN NaN
Sabzi     NaN NaN NaN NaN NaN NaN
Tuz       NaN NaN NaN NaN NaN NaN

dataframe

In [86]:
meva = pd.DataFrame(np.arange(1,13.).reshape(3, 4), index=list('uvx'), columns=['Olma', 'Anjir', 'Shaftoli', 'Banan',])
son = pd.Series([1,1,2,2], index=meva.columns)

# meva datafraneni hosil qilib oldik 1 dan 13 gacha son qilib unga 3 ga 4 qator jadvalni berib u v x index qatoriga va indexlarini jolashtirib oldik

In [87]:
meva

   Olma  Anjir  Shaftoli  Banan
u   1.0    2.0       3.0    4.0
v   5.0    6.0       7.0    8.0
x   9.0   10.0      11.0   12.0

In [88]:
son

Olma        1
Anjir       1
Shaftoli    2
Banan       2
dtype: int64

In [89]:
meva+son # qoshib oldik

   Olma  Anjir  Shaftoli  Banan
u   2.0    3.0       5.0    6.0
v   6.0    7.0       9.0   10.0
x  10.0   11.0      13.0   14.0

In [90]:
meva.add(son) # bu ham qoshish

   Olma  Anjir  Shaftoli  Banan
u   2.0    3.0       5.0    6.0
v   6.0    7.0       9.0   10.0
x  10.0   11.0      13.0   14.0

In [91]:
meva.sub(son) # airish

   Olma  Anjir  Shaftoli  Banan
u   0.0    1.0       1.0    2.0
v   4.0    5.0       5.0    6.0
x   8.0    9.0       9.0   10.0

In [92]:
meva.rsub(son) # bu ham airish

   Olma  Anjir  Shaftoli  Banan
u   0.0   -1.0      -1.0   -2.0
v  -4.0   -5.0      -5.0   -6.0
x  -8.0   -9.0      -9.0  -10.0

In [93]:
meva.div(son) # bolish

   Olma  Anjir  Shaftoli  Banan
u   1.0    2.0       1.5    2.0
v   5.0    6.0       3.5    4.0
x   9.0   10.0       5.5    6.0

In [94]:
meva + son['Olma'] # mevaga olma indexini qoshib oldik

   Olma  Anjir  Shaftoli  Banan
u   2.0    3.0       4.0    5.0
v   6.0    7.0       8.0    9.0
x  10.0   11.0      12.0   13.0

In [95]:
meva + son['Anjir'] # anjirni oqshib oldik

   Olma  Anjir  Shaftoli  Banan
u   2.0    3.0       4.0    5.0
v   6.0    7.0       8.0    9.0
x  10.0   11.0      12.0   13.0