<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/elementlarni_tanlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd

In [54]:
import numpy as np

In [55]:
uzb = {2020:36.36, 2021:38.12, 2022:39.18, 2023:40.1, 2024:41.12, 2025:43.8}
kgz = {2020:31.12, 2021:34.18, 2022:37.23, 2023:39.99, 2024:40.1, 2025:41.9}
tjk = {2020:30.71, 2021:31.81, 2022:35.10, 2023:37.38, 2024:39.9, 2025:40.7}
trk = {2020:33.81, 2021:34.12, 2022:35.21, 2023:38.56, 2024:39.5, 2025:40.9}
kzz = {2020:34.12, 2021:34.91, 2022:35.78, 2023:38.12, 2024:40.37,2025:41.2}

aholi = pd.DataFrame(
{
    "Uzbekistan":uzb,
    "Kazakhstan":kgz,
    "Tajikistan":tjk,
    "Turkmenistan":trk,
    "Kyrgyzstan":kzz
}) # dataframe hosil qilib olamiz

In [56]:
aholi.index.name = 'yil' #index ga nom beramiz

In [57]:
aholi

      Uzbekistan  Kazakhstan  Tajikistan  Turkmenistan  Kyrgyzstan
yil
2020       36.36       31.12       30.71         33.81       34.12
2021       38.12       34.18       31.81         34.12       34.91
2022       39.18       37.23       35.10         35.21       35.78
2023       40.10       39.99       37.38         38.56       38.12
2024       41.12       40.10       39.90         39.50       40.37
2025       43.80       41.90       40.70         40.90       41.20

In [58]:
aholi ['Uzbekistan'] # uzbekistan indexini chiqarib olamiz

yil
2020    36.36
2021    38.12
2022    39.18
2023    40.10
2024    41.12
2025    43.80
Name: Uzbekistan, dtype: float64

In [59]:
aholi['Uzbekistan'].to_numpy() #nump kutubxonasi orqali oddi arra korinishiga kelitib oldik

array([36.36, 38.12, 39.18, 40.1 , 41.12, 43.8 ])

In [60]:
aholi[['Tajikistan']] #tajikistanni dataframe korinishida chaqirib olamiz

      Tajikistan
yil
2020       30.71
2021       31.81
2022       35.10
2023       37.38
2024       39.90
2025       40.70

In [61]:
aholi[3:] # jadvalni 3 dan kngi malumotni chiqarib olamiz

      Uzbekistan  Kazakhstan  Tajikistan  Turkmenistan  Kyrgyzstan
yil
2023       40.10       39.99       37.38         38.56       38.12
2024       41.12       40.10       39.90         39.50       40.37
2025       43.80       41.90       40.70         40.90       41.20

In [62]:
aholi>38 # 38 dan katta bolgan malumotlarni filtirlab olamiz

      Uzbekistan  Kazakhstan  Tajikistan  Turkmenistan  Kyrgyzstan
yil
2020       False       False       False         False       False
2021        True       False       False         False       False
2022        True       False       False         False       False
2023        True        True       False          True        True
2024        True        True        True          True        True
2025        True        True        True          True        True

In [63]:
aholi<38 # 38 dan kichik bolgan malumotlarni filtirlab olamiz

      Uzbekistan  Kazakhstan  Tajikistan  Turkmenistan  Kyrgyzstan
yil
2020        True        True        True          True        True
2021       False        True        True          True        True
2022       False        True        True          True        True
2023       False       False        True         False       False
2024       False       False       False         False       False
2025       False       False       False         False       False

In [64]:
aholi[['Uzbekistan']][aholi['Uzbekistan']>40]
# dataset orqali chiqarib olamiz

      Uzbekistan
yil
2023       40.10
2024       41.12
2025       43.80

In [65]:
aholi2 = aholi[['Turkmenistan']] #TRK malumotlarini dataset orqali chiqarib oldik

In [66]:
aholi2

      Turkmenistan
yil
2020         33.81
2021         34.12
2022         35.21
2023         38.56
2024         39.50
2025         40.90

In [67]:
aholi2[aholi2['Turkmenistan']>36] # trk malumotlarini 36 dan katta bolgan malumotni filtirlimiz

      Turkmenistan
yil
2023         38.56
2024         39.50
2025         40.90

In [68]:
aholi

      Uzbekistan  Kazakhstan  Tajikistan  Turkmenistan  Kyrgyzstan
yil
2020       36.36       31.12       30.71         33.81       34.12
2021       38.12       34.18       31.81         34.12       34.91
2022       39.18       37.23       35.10         35.21       35.78
2023       40.10       39.99       37.38         38.56       38.12
2024       41.12       40.10       39.90         39.50       40.37
2025       43.80       41.90       40.70         40.90       41.20

In [69]:
aholilar = aholi.transpose(copy=True) # transpose qilib olamiz copi orqali

In [70]:
aholilar

yil            2020   2021   2022   2023   2024  2025
Uzbekistan    36.36  38.12  39.18  40.10  41.12  43.8
Kazakhstan    31.12  34.18  37.23  39.99  40.10  41.9
Tajikistan    30.71  31.81  35.10  37.38  39.90  40.7
Turkmenistan  33.81  34.12  35.21  38.56  39.50  40.9
Kyrgyzstan    34.12  34.91  35.78  38.12  40.37  41.2

In [71]:
aholilar.index.name = 'davlat' # indexga nom beramiz

In [72]:
aholilar

yil            2020   2021   2022   2023   2024  2025
davlat
Uzbekistan    36.36  38.12  39.18  40.10  41.12  43.8
Kazakhstan    31.12  34.18  37.23  39.99  40.10  41.9
Tajikistan    30.71  31.81  35.10  37.38  39.90  40.7
Turkmenistan  33.81  34.12  35.21  38.56  39.50  40.9
Kyrgyzstan    34.12  34.91  35.78  38.12  40.37  41.2

In [73]:
aholilar[aholilar[2023]>38] # 2023 ilda 40 dan kichik bolgan malumolarni filtrlab oldik

yil            2020   2021   2022   2023   2024  2025
davlat
Uzbekistan    36.36  38.12  39.18  40.10  41.12  43.8
Kazakhstan    31.12  34.18  37.23  39.99  40.10  41.9
Turkmenistan  33.81  34.12  35.21  38.56  39.50  40.9
Kyrgyzstan    34.12  34.91  35.78  38.12  40.37  41.2