<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/elementlarni_tanlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
import pandas as pd

In [112]:
import numpy as np

In [113]:
hovli = {
    'tuman':['Sergeli', 'Qoraqamish', 'Keles', 'yunusobod', 'Bektemir', 'Mirzo Ulug\'bek', 'Mirobod'],
    'mahalla':['Qipchoq', 'Rohat', 'Binokor', 'Tolariq', 'Chinor', 'Birlik', 'Nurobod'],
    'narh':[123000, 97000, 100000, 75000, 98000, 81000, 150000],
    'kvv/metr':['12x3 kvv', '6x3 kvv', '5x4 kvv', '3x5 kvv', '6x4 kvv', '8x5 kvv', '7x3 kvv'],
    "bolib tolash":['12 yil', '6 yil', '9 yil', '8 yil', '5 yil', '10 yil', '3 yil']
    }
uchastka = pd.DataFrame(hovli)

In [114]:
uchastka

            tuman  mahalla    narh  kvv/metr bolib tolash
0         Sergeli  Qipchoq  123000  12x3 kvv       12 yil
1      Qoraqamish    Rohat   97000   6x3 kvv        6 yil
2           Keles  Binokor  100000   5x4 kvv        9 yil
3       yunusobod  Tolariq   75000   3x5 kvv        8 yil
4        Bektemir   Chinor   98000   6x4 kvv        5 yil
5  Mirzo Ulug'bek   Birlik   81000   8x5 kvv       10 yil
6         Mirobod  Nurobod  150000   7x3 kvv        3 yil

In [115]:
uchastka.index = [1, 2, 3, 4, 5, 6, 7] # index qatorlarini tartiblab oldik

In [116]:
uchastka

            tuman  mahalla    narh  kvv/metr bolib tolash
1         Sergeli  Qipchoq  123000  12x3 kvv       12 yil
2      Qoraqamish    Rohat   97000   6x3 kvv        6 yil
3           Keles  Binokor  100000   5x4 kvv        9 yil
4       yunusobod  Tolariq   75000   3x5 kvv        8 yil
5        Bektemir   Chinor   98000   6x4 kvv        5 yil
6  Mirzo Ulug'bek   Birlik   81000   8x5 kvv       10 yil
7         Mirobod  Nurobod  150000   7x3 kvv        3 yil

In [117]:
data1 = uchastka[['narh']]
data1 # datafrem korinishida chaqirib oldik

     narh
1  123000
2   97000
3  100000
4   75000
5   98000
6   81000
7  150000

In [118]:
type(data1) #dataFrame

pandas.core.frame.DataFrame

In [119]:
data = uchastka['narh']
data # Series kornishida chaqirib oldik

1    123000
2     97000
3    100000
4     75000
5     98000
6     81000
7    150000
Name: narh, dtype: int64

In [120]:
data[6] # 6 chi qatorni chaqirib oldik

np.int64(81000)

In [121]:
type(data[[6]]) # Series

pandas.core.series.Series

In [122]:
data[0:4] # 0 dan 4 gacha bolgan qatorni chaqirib oldik

1    123000
2     97000
3    100000
4     75000
Name: narh, dtype: int64

In [123]:
data[[1, 2, 3, 4]] # data korinishida index ichidan qatorlarni berib chaqirib oldik

1    123000
2     97000
3    100000
4     75000
Name: narh, dtype: int64

Series malumot tuzulmasi

In [124]:
qator = pd.Series(np.arange(7.), index=('a', 'q', 'c', 'f', 'g', 'v', 'm'))
qator # Series malumot tuzulmasini hosil qilib olamiz

a    0.0
q    1.0
c    2.0
f    3.0
g    4.0
v    5.0
m    6.0
dtype: float64

In [125]:
qator[1] # 1 - qator indexini chiqarib olamiz

/tmp/ipython-input-1284509607.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  qator[1] # 1 - qator indexini chiqarib olamiz

np.float64(1.0)

In [126]:
qator[[3]] #Series malumot tuzulmasi orqali 3 - indexni chiqarib olamiz

/tmp/ipython-input-1563743175.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  qator[[3]] #Series malumot tuzulmasi orqali 3 - indexni chiqarib olamiz

f    3.0
dtype: float64

In [127]:
qator[1:5] # 1 dan 5 gacha bolgan alumotni chiqarib olamiz

q    1.0
c    2.0
f    3.0
g    4.0
dtype: float64

In [128]:
qator[['a', 'f', 'v', 'c']] # data orqali index ichidagi malumotni kirigizb chiqarib olamiz

a    0.0
f    3.0
v    5.0
c    2.0
dtype: float64

In [129]:
qator  ['a' : 'g'] # a dan g gacha bolgan malumotni chiqarib olamiz

a    0.0
q    1.0
c    2.0
f    3.0
g    4.0
dtype: float64

In [130]:
qator[[2,6]] # data orqali 2 dan 6 gacha bolgan malumotni chiqarib olamiz

/tmp/ipython-input-1552871429.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  qator[[2,6]] # data orqali 2 dan 6 gacha bolgan malumotni chiqarib olamiz

c    2.0
m    6.0
dtype: float64

In [131]:
qator[ :'g'] # g gacha bolgan malumotni chiqarib olamiz

a    0.0
q    1.0
c    2.0
f    3.0
g    4.0
dtype: float64

In [132]:
qator[3:] # 3 dan kn gi malumotlarni chiqarib olamiz

f    3.0
g    4.0
v    5.0
m    6.0
dtype: float64

In [133]:
qator[:4] # 4 gacha bolgan malumotni chiqarib oldik

a    0.0
q    1.0
c    2.0
f    3.0
dtype: float64

In [134]:
qator['a' : 'c']=12 # a dan c gacha bolgan malumotni 12 ga teng qilamiz

In [135]:
qator

a    12.0
q    12.0
c    12.0
f     3.0
g     4.0
v     5.0
m     6.0
dtype: float64

In [136]:
qator[qator>9] # 9 dan katta bolgan raqamni filtr lab olamiz

a    12.0
q    12.0
c    12.0
dtype: float64

In [137]:
qator[qator<9] # 9 dan kichik bolgan raqamni filtr qilib olamiz

f    3.0
g    4.0
v    5.0
m    6.0
dtype: float64