<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/Funksialarni_qo'llash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd # pandas kutubxonasini chaqirib oldik

In [20]:
import numpy as np # np kutubxonasini chaqirib oldik

In [21]:
data = pd.DataFrame(np.random.randn(3, 4), index=list('axc'), columns=['Olma', 'Kivi', 'Banan', 'Ananas'])
data # data Jadval hosil qildik 3 ga 4 tasodifi qimat berib oldik indexini a, x, c deb nom berdik ustuniga Olma, Kivi, Banan, Ananas deb nom berdik

       Olma      Kivi     Banan    Ananas
a -0.238812  0.706414 -0.034679  1.468286
x -1.133157  0.039761  0.893081  0.435656
c  0.067944 -0.298095 -1.115335  1.846659

In [22]:
np.abs(-2) # abs finksiasi orqali manfi sonni musbatga alantirib oldik

np.int64(2)

In [23]:
np.round(data) #qimat qasi songa teng bolsa shuni chiqarib beradik # misol | 0.623 ni 1.0 1ilib berdi

   Olma  Kivi  Banan  Ananas
a  -0.0   1.0   -0.0     1.0
x  -1.0   0.0    1.0     0.0
c   0.0  -0.0   -1.0     2.0

In [24]:
np.add(data, 10) # jadvalni qimatiga 10 qoshib natijani chiqarib berdi

        Olma       Kivi      Banan     Ananas
a   9.761188  10.706414   9.965321  11.468286
x   8.866843  10.039761  10.893081  10.435656
c  10.067944   9.701905   8.884665  11.846659

In [25]:
data.mean() #

Olma     -0.434675
Kivi      0.149360
Banan    -0.085645
Ananas    1.250200
dtype: float64

In [26]:
data.apply(np.abs) # manfi sonlarni musbat songa alantirib beradi

       Olma      Kivi     Banan    Ananas
a  0.238812  0.706414  0.034679  1.468286
x  1.133157  0.039761  0.893081  0.435656
c  0.067944  0.298095  1.115335  1.846659

In [27]:
data.apply(sum, axis=0) # ustun boicha jami sonni chiqarib beradi

Olma     -1.304025
Kivi      0.448080
Banan    -0.256934
Ananas    3.750601
dtype: float64

In [28]:
data.apply(sum, axis=1)# qator boicha jami sonni chiqarib beradi

a    1.901209
x    0.235341
c    0.501172
dtype: float64

In [31]:
E = lambda x: x.max()-x.min() # max qimat bn min qimatni chiqarib oldik va

In [32]:
data.apply(E) # appl orqali min va max qimatni airib oldik

Olma      1.201101
Kivi      1.004509
Banan     2.008416
Ananas    1.411003
dtype: float64

In [33]:
def foo(x): # series orqali min va max larni ajratib oldik
  return pd.Series([x.min(),x.max()], index=['min', 'max'])

In [34]:
data.apply(foo) #

         Olma      Kivi     Banan    Ananas
min -1.133157 -0.298095 -1.115335  0.435656
max  0.067944  0.706414  0.893081  1.846659

In [40]:
data2 = pd.DataFrame(np.arange(1, 13).reshape(3, 4), index=list('ert'), columns=['Acer', 'Lenova', 'Mackbook', 'Lecus'])

In [41]:
data2

   Acer  Lenova  Mackbook  Lecus
e     1       2         3      4
r     5       6         7      8
t     9      10        11     12

In [45]:
data2.index.name = 'qator' # indexga nom berib oldik

In [46]:
data2

       Acer  Lenova  Mackbook  Lecus
qator
e         1       2         3      4
r         5       6         7      8
t         9      10        11     12

In [47]:
data2.applymap(lambda x: x*x) # qimatni ozining soniga kopatirib beradi

/tmp/ipython-input-3890062538.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data2.applymap(lambda x: x*x) # qimatni ozining soniga kopatirib beradi

       Acer  Lenova  Mackbook  Lecus
qator
e         1       4         9     16
r        25      36        49     64
t        81     100       121    144