<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/funksialarni_qollash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
tir = pd.DataFrame(np.random.randn(3, 4), index=list('opq'), columns=['Olma', 'Anjir', 'Gilos', 'Banan'])

In [6]:
tir

       Olma     Anjir     Gilos     Banan
o -1.245634 -0.844064  0.793914  1.357109
p  0.253739  0.677162 -0.314649  1.444946
q -0.492528 -1.112626  1.120510 -0.294685

In [9]:
np.abs(tir)

       Olma     Anjir     Gilos     Banan
o  1.245634  0.844064  0.793914  1.357109
p  0.253739  0.677162  0.314649  1.444946
q  0.492528  1.112626  1.120510  0.294685

In [10]:
np.round(tir)

   Olma  Anjir  Gilos  Banan
o  -1.0   -1.0    1.0    1.0
p   0.0    1.0   -0.0    1.0
q  -0.0   -1.0    1.0   -0.0

In [11]:
tir

       Olma     Anjir     Gilos     Banan
o -1.245634 -0.844064  0.793914  1.357109
p  0.253739  0.677162 -0.314649  1.444946
q -0.492528 -1.112626  1.120510 -0.294685

In [13]:
tir.mean() # olma, anjir, gilos, banan uchun ortacha qimat

Olma    -0.494808
Anjir   -0.426509
Gilos    0.533258
Banan    0.835790
dtype: float64

In [15]:
tir.mean(axis = 1) # o , p , q uchun   prtacha qimat

o    0.015331
p    0.515300
q   -0.194832
dtype: float64

In [16]:
tir.apply(np.abs)

       Olma     Anjir     Gilos     Banan
o  1.245634  0.844064  0.793914  1.357109
p  0.253739  0.677162  0.314649  1.444946
q  0.492528  1.112626  1.120510  0.294685

In [18]:
tir.apply(sum)

Olma    -1.484423
Anjir   -1.279528
Gilos    1.599775
Banan    2.507370
dtype: float64

In [19]:
tir.apply(sum, axis = 1)

o    0.061325
p    2.061199
q   -0.779329
dtype: float64

In [20]:
s = lambda x: x.max() - x.min()

In [23]:
tir.apply(s)

Olma     1.499373
Anjir    1.789787
Gilos    1.435159
Banan    1.739632
dtype: float64

In [24]:
def foo(x):
  return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [25]:
tir.apply(foo)

         Olma     Anjir     Gilos     Banan
min -1.245634 -1.112626 -0.314649 -0.294685
max  0.253739  0.677162  1.120510  1.444946

In [27]:
tir

       Olma     Anjir     Gilos     Banan
o -1.245634 -0.844064  0.793914  1.357109
p  0.253739  0.677162 -0.314649  1.444946
q -0.492528 -1.112626  1.120510 -0.294685

In [29]:
tir.applymap()

TypeError: DataFrame.applymap() missing 1 required positional argument: 'func'

In [31]:
kr = pd.DataFrame(np.arange(1, 13).reshape(3,4), index=list('hkl'), columns=['Karam', 'Pamidor', 'Juxori', 'Pamidor'])

In [32]:
kr

   Karam  Pamidor  Juxori  Pamidor
h      1        2       3        4
k      5        6       7        8
l      9       10      11       12

In [33]:
kr.applymap(lambda x: x**2)

/tmp/ipython-input-783831359.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  kr.applymap(lambda x: x**2)

   Karam  Pamidor  Juxori  Pamidor
h      1        4       9       16
k     25       36      49       64
l     81      100     121      144

In [34]:
kr.applymap(lambda x: x*x)

/tmp/ipython-input-318449898.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  kr.applymap(lambda x: x*x)

   Karam  Pamidor  Juxori  Pamidor
h      1        4       9       16
k     25       36      49       64
l     81      100     121      144