<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/korellyasiya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [22]:
import numpy as np

In [23]:
ob_havo = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2016-weather-data-seattle.csv")

In [24]:
ob_havo

             Date  Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
0        1/1/1948                10                8.0               7.0
1        1/2/1948                 6                4.0               3.0
2        1/3/1948                 7                4.0               2.0
3        1/4/1948                 7                4.0               2.0
4        1/5/1948                 7                3.0               0.0
...           ...               ...                ...               ...
24376  12/27/2015                 4                3.0               2.0
24377  12/28/2015                 5                3.0               2.0
24378  12/29/2015                 7                4.0               1.0
24379  12/30/2015                 6                2.0              -1.0
24380  12/31/2015                 6                2.0              -2.0

[24381 rows x 4 columns]

In [25]:
ob_havo.shape #qator va ustun

(24381, 4)

In [26]:
ob_havo.size #qimat soni

97524

In [27]:
ob_havo.describe() #min max v.h.k qimatlarni topib oldik

       Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
count      24381.000000       24376.000000      24380.000000
mean          14.944014          11.043485          7.252338
std            7.171926           5.794158          4.913692
min          -18.000000         -12.000000        -17.000000
25%            9.000000           7.000000          4.000000
50%           14.000000          11.000000          7.000000
75%           20.000000          16.000000         11.000000
max           54.000000          31.000000         22.000000

In [28]:
ob_havo.info() # qimatlar haqida malumot

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24381 entries, 0 to 24380
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               24381 non-null  object
 1   Max_TemperatureC   24381 non-null  int64
 2   Mean_TemperatureC  24376 non-null  float64
 3   Min_TemperatureC   24380 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 762.0+ KB

In [29]:
ob_havo.tail() #oxirgi 5 ta malumot

             Date  Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
24376  12/27/2015                 4                3.0               2.0
24377  12/28/2015                 5                3.0               2.0
24378  12/29/2015                 7                4.0               1.0
24379  12/30/2015                 6                2.0              -1.0
24380  12/31/2015                 6                2.0              -2.0

In [30]:
ob_havo.head() # boshidagi 5 ta malumot

       Date  Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
0  1/1/1948                10                8.0               7.0
1  1/2/1948                 6                4.0               3.0
2  1/3/1948                 7                4.0               2.0
3  1/4/1948                 7                4.0               2.0
4  1/5/1948                 7                3.0               0.0

In [31]:
ob_havo['Max_TemperatureC'].corr(ob_havo['Min_TemperatureC'])
# max_temp bn min_temoni ortasidagi bogliqlikni chiqarib oldik (correksiani)

np.float64(0.8559459005476187)

In [32]:
ob_havo['Min_TemperatureC'].corr(ob_havo['Mean_TemperatureC'])
# min_temp bn mean_tempni ortasidagi bogliqlikni chiqarib oldik

np.float64(0.9500217426166797)

In [44]:
ob_havo.corr(numeric_only=True)

                   Max_TemperatureC  Mean_TemperatureC  Min_TemperatureC
Max_TemperatureC           1.000000           0.963875          0.855946
Mean_TemperatureC          0.963875           1.000000          0.950022
Min_TemperatureC           0.855946           0.950022          1.000000

In [45]:
ob_havo.corrwith(ob_havo['Max_TemperatureC'])
# corrwith orqali qimatlarni solishtirsak boladi

ValueError: could not convert string to float: '1/1/1948'