<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/lug'atdan_series_hosil_qilish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
import numpy as np

In [24]:
from pandas import Series, DataFrame

In [25]:
kvv = Series([18, 26, 19, 21, 37, 27], index=['shoxrux', 'javohir', 'muhammad', 'islom', 'doston', 'shaxrior'])
kvv                         # index hosil qilib oldik

shoxrux     18
javohir     26
muhammad    19
islom       21
doston      37
shaxrior    27
dtype: int64

oddi lugat

In [26]:
avtasalon1 = {'Malibu': 45000, 'Cobalt':32000, 'Gentra':30000, 'Nexia3':25000, 'Tracker':47000}
avtasalon1 #lugat hosil qilib oldik

{'Malibu': 45000,
 'Cobalt': 32000,
 'Gentra': 30000,
 'Nexia3': 25000,
 'Tracker': 47000}

In [27]:
avtasalon=Series(avtasalon1)
avtasalon #oddi lugatni series orqali jadval korinishiga kelitirib oldik

Malibu     45000
Cobalt     32000
Gentra     30000
Nexia3     25000
Tracker    47000
dtype: int64

jadval hosil qilish

In [28]:
kitob_beti = Series([129, 159, 253, 309, 312, 275], index=['o\'tkan kunlar', 'oq kema', 'besh bolali yigitcha', 'nazar', 'kumush', 'sevgi'])
kitob_beti   #jadval hosil qilib oldik

o'tkan kunlar           129
oq kema                 159
besh bolali yigitcha    253
nazar                   309
kumush                  312
sevgi                   275
dtype: int64

In [29]:
'Gentra' in avtasalon # jadval ichidan Gentra True bor False ligini tekshirib oldik

True

In [30]:
'anor' in kitob_beti # bundaham huddi shunaqa qilib true va falseligini tekshirib oldik

False

In [31]:
avtasalon['Cobalt'] # cobalt indexini lugatini chiqarib oldik

np.int64(32000)

In [32]:
avtasalon['Nexia3'] # bu ham huddi shunaqa

np.int64(25000)

In [33]:
kitob_beti['oq kema'] # kitob_beti jadvalidan oq kema indexini lugatini chiqarib oldk

np.int64(159)

roxat ketma ketligi

In [34]:
avtasalon1

{'Malibu': 45000,
 'Cobalt': 32000,
 'Gentra': 30000,
 'Nexia3': 25000,
 'Tracker': 47000}

In [35]:
models = ['Changan', 'Cobalt', 'Malibu', 'Haval', 'Nexia3', 'Tracker', 'Kia k8', 'Gentra']
      #oddi lugat hosil qilib oldik

In [36]:
sergeli_avtasalon = Series(avtasalon1, index=models)
sergeli_avtasalon # jadval hosilqildik) sergeli avtasalon ozgaruvchi degan nom berdik
                  # uni Series orqali jadval qildik uning ichiga avtasalon1
                  # dagi index lugatini kochirib olib models ozgarub=vchini
                  # qimatlarini qoshib oldik va berilgan natija
                  # avtasalon1 dagi indexlarni olib models indexlarini qoshiib berdi
                  # avtasalon1 dagi lugatlarni modelsga kochirib oldi

Changan        NaN
Cobalt     32000.0
Malibu     45000.0
Haval          NaN
Nexia3     25000.0
Tracker    47000.0
Kia k8         NaN
Gentra     30000.0
dtype: float64