<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/min%2C_max%2C_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
import numpy as np

In [31]:
data = {
    'Aholi':[123, 217, 318, 756, 761, 813, 522],
    'Madoni':[1290, 2151, 3127, 2999, 31871, 5312, 3287]
}

In [32]:
Jadval = pd.DataFrame(data)
Jadval

   Aholi  Madoni
0    123    1290
1    217    2151
2    318    3127
3    756    2999
4    761   31871
5    813    5312
6    522    3287

In [33]:
Jadval.index = (1, 2, 3, 4, 5, 6, 7)
Jadval

   Aholi  Madoni
1    123    1290
2    217    2151
3    318    3127
4    756    2999
5    761   31871
6    813    5312
7    522    3287

In [34]:
Jadval.index.name = '№'
Jadval

   Aholi  Madoni
№
1    123    1290
2    217    2151
3    318    3127
4    756    2999
5    761   31871
6    813    5312
7    522    3287

In [35]:
Jadval.sum() # jami sonni chiqarib oldik

Aholi      3510
Madoni    50037
dtype: int64

In [36]:
Jadval.sum(axis='columns') #ustun boicha jami sonni chiqarib oldik

№
1     1413
2     2368
3     3445
4     3755
5    32632
6     6125
7     3809
dtype: int64

In [37]:
Jadval.sum(axis=1) #buni ham ustun boicha jami sonni chiqarib oldik

№
1     1413
2     2368
3     3445
4     3755
5    32632
6     6125
7     3809
dtype: int64

In [38]:
Jadval.mean(axis=0)
# qator boicha ortancha qimatni topib oldik

Aholi      501.428571
Madoni    7148.142857
dtype: float64

In [39]:
Jadval.mean(axis=1)
#ortancha qimatni ustun boicha topib oldik

№
1      706.5
2     1184.0
3     1722.5
4     1877.5
5    16316.0
6     3062.5
7     1904.5
dtype: float64

In [40]:
Jadval

   Aholi  Madoni
№
1    123    1290
2    217    2151
3    318    3127
4    756    2999
5    761   31871
6    813    5312
7    522    3287

In [41]:
Jadval.mean() # mean orqali ham ortancha qimatni chiqarib olsak boladi

Aholi      501.428571
Madoni    7148.142857
dtype: float64

In [42]:
Jadval.prod() # indexni hamma sonini kopatmasi  chiqarib beradi

Aholi     2072332634237622288
Madoni    6966683190049740928
dtype: int64

In [43]:
Jadval.idxmin() #minimum qimatni chiqarib beradi

Aholi     1
Madoni    1
dtype: int64

In [44]:
Jadval.idxmax() # max qimatni chiqarib berdi

Aholi     6
Madoni    5
dtype: int64

In [45]:
Jadval['Aholi'].idxmin() # aniq biron bir indexni maximumni kormoqchi bolsak ['nom'] shuni ichiga indexni nomini kiritamiz

np.int64(1)

In [46]:
Jadval['Madoni'].idxmin() # aniq biron bir indexni minimumni kormoqchi bolsak [''] shuni ichiga indexni nomini kiritamiz

np.int64(1)

In [47]:
Jadval.iloc[3] # 3- indexni kormoqchi bolsak iloc funksiasdan fodalanamiz

Aholi      756
Madoni    2999
Name: 4, dtype: int64

In [48]:
Jadval.iloc[-3] # bu ham index ni korish uchun

Aholi       761
Madoni    31871
Name: 5, dtype: int64