<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/series_malumotlar_tuzilmasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #pandas kutubxonasini chaqirib olamiz

In [ ]:
import numpy as np #numpy kutubxonasini chaqirib olamiz

In [ ]:
from pandas import Series, DataFrame # Seris va dataframe chaqirib olamiz

In [ ]:
malumot = Series([12, 25, 67, 89, 71, -81.2]) # Series orqali lugat hosil qilamiz
malumot

0    12.0
1    25.0
2    67.0
3    89.0
4    71.0
5   -81.2
dtype: float64

In [ ]:
type(malumot) # obj ini korish uchun

pandas.core.series.Series

In [ ]:
print(malumot) #indexini korish uchun

0    12.0
1    25.0
2    67.0
3    89.0
4    71.0
5   -81.2
dtype: float64

In [ ]:
malumot.values #indexni lugatlarini korish uchun values dan fodalanamiz

array([ 12. ,  25. ,  67. ,  89. ,  71. , -81.2])

In [ ]:
malumot.index #indexini korish uchun

RangeIndex(start=0, stop=6, step=1)

In [ ]:
malumot[1] #indexni ichidagi elementni topish uchun ishlatamiz

np.float64(25.0)

In [ ]:
tatillar = Series([31, 21, 2.56, -78, 9.0, 12], index=['a', 'b', 'c', 'd', 'e', 'f',])
tatillar # Series orqali lugat hosil qildik va index orqali pozimiz hoxlagandek nom berdik

a    31.00
b    21.00
c     2.56
d   -78.00
e     9.00
f    12.00
dtype: float64

In [ ]:
tatillar.index #index larni chaqirib odik

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
tatillar[['b', 'e', 'c']] # ozimiz hoxlagan idexni chaqirib olvik

b    21.00
e     9.00
c     2.56
dtype: float64

In [ ]:
tatillar[tatillar>10] # index ichidan 10 dan katta bolgan sonlarni chiqarib berishni filtr qildik

a    31.0
b    21.0
f    12.0
dtype: float64

In [ ]:
tatillar[tatillar<10] # index ichidan 10 dan kichik bolgan sonlarni filtr qilishini soradik

c     2.56
d   -78.00
e     9.00
dtype: float64

In [ ]:
tatillar*2 # indexlarni 2 ga kopatirib oldik

a     62.00
b     42.00
c      5.12
d   -156.00
e     18.00
f     24.00
dtype: float64

In [ ]:
tatillar/6 # indexlarni 6 ga bolib oldik

a     5.166667
b     3.500000
c     0.426667
d   -13.000000
e     1.500000
f     2.000000
dtype: float64

In [ ]:
tatillar**2 # indexlarni kvadratlarini topib oldik

a     961.0000
b     441.0000
c       6.5536
d    6084.0000
e      81.0000
f     144.0000
dtype: float64

In [ ]:
np.exp(tatillar) # indexlarni exponentini topib oldik

a    2.904885e+13
b    1.318816e+09
c    1.293582e+01
d    1.333615e-34
e    8.103084e+03
f    1.627548e+05
dtype: float64

In [ ]:
malumot.values

array([ 12. ,  25. ,  67. ,  89. ,  71. , -81.2])

In [ ]:
malumot = Series([ 12. ,  25. ,  67. ,  89. ,  71. , -81.2], index=['1-m', '2-m', '3-m', '4-m', '5-m', '6-m'])
malumot

1-m    12.0
2-m    25.0
3-m    67.0
4-m    89.0
5-m    71.0
6-m   -81.2
dtype: float64

In [ ]:
malumot_int = malumot.astype(int)
print(malumot_int)               #  floatdan intga otqazib oldik
print(malumot_int.dtype)

1-m    12
2-m    25
3-m    67
4-m    89
5-m    71
6-m   -81
dtype: int64
int64