<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/series_metodlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd

In [31]:
import numpy as np

In [32]:
from pandas import Series, DataFrame

In [33]:
ext_zavod = {'Akfa': 2015, 'Bruno': 2016, 'Adidas': 2020, 'Metall zavod': 2023, 'shisha zavod': 2024, 'oltin zavod': 1990}
# oddi lugat hosil qilib olamiz

In [34]:
uzb1_zavod = ['Akfa', 'AI_zavod', 'Bruno', 'Tel_zavod' 'Adidas', 'Elelktr_zavod', 'Metall zavod', 'Qum_zavod', 'shisha zavod', 'Moshin_zavod', 'oltin zavod']
# ext_zavod indexlarni uzb1_zavod ga kochirib olamiz va uning ichiga hoxlagan indexni qoshsak ham boladi

In [37]:
uzb_zavod = Series(ext_zavod, index=uzb1_zavod)
uzb_zavod # uzb_zavod ozgaruvchi hosil qilamiz va Series orqali ext_zavod ozgaruvchini
          # lugatlarini kochirib olish orqali uzb1_zavod ga kochiramiz

Akfa               2015.0
AI_zavod              NaN
Bruno              2016.0
Tel_zavodAdidas       NaN
Elelktr_zavod         NaN
Metall zavod       2023.0
Qum_zavod             NaN
shisha zavod       2024.0
Moshin_zavod          NaN
oltin zavod        1990.0
dtype: float64

In [40]:
uzb_zavod.isnull() # isnull() orqali qimati True balki False ligini tekshirib olsa boladi

Akfa               False
AI_zavod            True
Bruno              False
Tel_zavodAdidas     True
Elelktr_zavod       True
Metall zavod       False
Qum_zavod           True
shisha zavod       False
Moshin_zavod        True
oltin zavod        False
dtype: bool

In [39]:
uzb_zavod.notnull() #bu aksincha qimati True balki False ligini tekshirib oladi

Akfa                True
AI_zavod           False
Bruno               True
Tel_zavodAdidas    False
Elelktr_zavod      False
Metall zavod        True
Qum_zavod          False
shisha zavod        True
Moshin_zavod       False
oltin zavod         True
dtype: bool

In [49]:
uzb_zavod.name='chiqqan yili'
uzb_zavod #Lugatiga nom beramiz

Zavod nomi
Akfa               2015.0
AI_zavod              NaN
Bruno              2016.0
Tel_zavodAdidas       NaN
Elelktr_zavod         NaN
Metall zavod       2023.0
Qum_zavod             NaN
shisha zavod       2024.0
Moshin_zavod          NaN
oltin zavod        1990.0
Name: chiqqan yili, dtype: float64

In [48]:
uzb_zavod.index.name='Zavod nomi'
uzb_zavod #indexiga nom beramiz

Zavod nomi
Akfa               2015.0
AI_zavod              NaN
Bruno              2016.0
Tel_zavodAdidas       NaN
Elelktr_zavod         NaN
Metall zavod       2023.0
Qum_zavod             NaN
shisha zavod       2024.0
Moshin_zavod          NaN
oltin zavod        1990.0
Name: chiqqan yili, dtype: float64