<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/tartiblash_va_retinglash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

In [27]:
import numpy as np

In [28]:
data = pd.Series(range(1, 12), index=['c', 'v', 'k', 'l', 'o', 'p', 'w', 's', 'x', 'h', 'f'])
data

c     1
v     2
k     3
l     4
o     5
p     6
w     7
s     8
x     9
h    10
f    11
dtype: int64

In [29]:
data.sort_index() # indexlarini tartiblab chiqdik

c     1
f    11
h    10
k     3
l     4
o     5
p     6
s     8
v     2
w     7
x     9
dtype: int64

In [30]:
data.sort_values() # qimatlarini tartiblab chiqdik

c     1
v     2
k     3
l     4
o     5
p     6
w     7
s     8
x     9
h    10
f    11
dtype: int64

In [31]:
data.shape

(11,)

In [32]:
data.size

11

In [33]:
warr = pd.DataFrame(np.random.randn(10, 5))
warr

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [34]:
warr.shape # qator va ustunini korib oldik

(10, 5)

In [35]:
warr.size # qimatini korib oldik

50

In [36]:
warr.sort_index() # tartiblab oldik

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [37]:
warr.sort_index(axis=0) # qator boicha tartiblimiz

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [38]:
warr.sort_index(axis=1) # ustun boicha tartiblimiz

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [39]:
warr.sort_index(axis=1, ascending=False) # ustun boicha tartiblidi

          4         3         2         1         0
0 -1.355906 -0.790859 -1.173742 -0.690941 -0.978607
1  0.724914 -0.918652  1.324395 -1.720700  1.303878
2  0.888580  0.620607 -1.408154  0.313492  0.456416
3 -0.145810  2.438789  0.426634 -0.003836  0.452620
4  0.188921 -1.773715  0.547662  1.566359 -0.376217
5  0.006471 -3.350372  0.558050  0.035592 -1.977476
6 -0.567133 -0.126782  0.227079 -0.221945 -0.614185
7 -0.754716 -1.145916 -0.325500 -0.810306 -1.497537
8 -0.690102  2.346440  1.162250  0.431885 -0.573865
9 -0.281829  0.032597  0.656521  1.080781  1.773677

In [40]:
warr.sort_index(axis=0, inplace=True) # qator boicha tartiblidi

In [41]:
warr

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [42]:
warr.sort_index(ascending=False)
warr # # teskari osish tartibida tahlab beradi

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [43]:
warr.sort_index(axis=1, ascending=False) # qator boicha kamaish tartibidi tartiblidi

          4         3         2         1         0
0 -1.355906 -0.790859 -1.173742 -0.690941 -0.978607
1  0.724914 -0.918652  1.324395 -1.720700  1.303878
2  0.888580  0.620607 -1.408154  0.313492  0.456416
3 -0.145810  2.438789  0.426634 -0.003836  0.452620
4  0.188921 -1.773715  0.547662  1.566359 -0.376217
5  0.006471 -3.350372  0.558050  0.035592 -1.977476
6 -0.567133 -0.126782  0.227079 -0.221945 -0.614185
7 -0.754716 -1.145916 -0.325500 -0.810306 -1.497537
8 -0.690102  2.346440  1.162250  0.431885 -0.573865
9 -0.281829  0.032597  0.656521  1.080781  1.773677

In [44]:
warr.sort_values(by=2) # 2 nomli ustunni osish tartiblab tartiblab chiqdik chiqdik

          0         1         2         3         4
2  0.456416  0.313492 -1.408154  0.620607  0.888580
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
9  1.773677  1.080781  0.656521  0.032597 -0.281829
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
1  1.303878 -1.720700  1.324395 -0.918652  0.724914

In [46]:
warr.sort_values(by=2, ascending=False)
warr # 2 nomli ustunnu kamaish tartibida tartiblab chiqdik

          0         1         2         3         4
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
1  1.303878 -1.720700  1.324395 -0.918652  0.724914
2  0.456416  0.313492 -1.408154  0.620607  0.888580
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
9  1.773677  1.080781  0.656521  0.032597 -0.281829

In [47]:
warr.sort_values(by=[1, 4], ascending=False)
# 1va 4 chi ustunni kamaish tartibida tartibla chiqdik

          0         1         2         3         4
4 -0.376217  1.566359  0.547662 -1.773715  0.188921
9  1.773677  1.080781  0.656521  0.032597 -0.281829
8 -0.573865  0.431885  1.162250  2.346440 -0.690102
2  0.456416  0.313492 -1.408154  0.620607  0.888580
5 -1.977476  0.035592  0.558050 -3.350372  0.006471
3  0.452620 -0.003836  0.426634  2.438789 -0.145810
6 -0.614185 -0.221945  0.227079 -0.126782 -0.567133
0 -0.978607 -0.690941 -1.173742 -0.790859 -1.355906
7 -1.497537 -0.810306 -0.325500 -1.145916 -0.754716
1  1.303878 -1.720700  1.324395 -0.918652  0.724914