<a href="https://colab.research.google.com/github/shoxruxmamitov/pandas-kutubxonasi/blob/main/tartiblash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv", index_col=0)
data # dataframe hosil qilib oldik

              sepal_width  petal_length  petal_width    species
sepal_length
5.1                   3.5           1.4          0.2     setosa
4.9                   3.0           1.4          0.2     setosa
4.7                   3.2           1.3          0.2     setosa
4.6                   3.1           1.5          0.2     setosa
5.0                   3.6           1.4          0.2     setosa
...                   ...           ...          ...        ...
6.7                   3.0           5.2          2.3  virginica
6.3                   2.5           5.0          1.9  virginica
6.5                   3.0           5.2          2.0  virginica
6.2                   3.4           5.4          2.3  virginica
5.9                   3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [8]:
data.shape # qator va ustunini korib oldik

(150, 4)

In [9]:
data.size # qimatlarini korib oldik

600

In [15]:
data.sort_index(axis=0, ascending=True) # qator boicha tartib oldik

              sepal_width  petal_length  petal_width    species
sepal_length
4.3                   3.0           1.1          0.1     setosa
4.4                   2.9           1.4          0.2     setosa
4.4                   3.2           1.3          0.2     setosa
4.4                   3.0           1.3          0.2     setosa
4.5                   2.3           1.3          0.3     setosa
...                   ...           ...          ...        ...
7.7                   2.8           6.7          2.0  virginica
7.7                   3.8           6.7          2.2  virginica
7.7                   2.6           6.9          2.3  virginica
7.7                   3.0           6.1          2.3  virginica
7.9                   3.8           6.4          2.0  virginica

[150 rows x 4 columns]

In [16]:
data.sort_index(axis=1, ascending=True) # ustun boicha tartiblab oldik

              petal_length  petal_width  sepal_width    species
sepal_length
5.1                    1.4          0.2          3.5     setosa
4.9                    1.4          0.2          3.0     setosa
4.7                    1.3          0.2          3.2     setosa
4.6                    1.5          0.2          3.1     setosa
5.0                    1.4          0.2          3.6     setosa
...                    ...          ...          ...        ...
6.7                    5.2          2.3          3.0  virginica
6.3                    5.0          1.9          2.5  virginica
6.5                    5.2          2.0          3.0  virginica
6.2                    5.4          2.3          3.4  virginica
5.9                    5.1          1.8          3.0  virginica

[150 rows x 4 columns]

In [24]:
data.sort_index(axis=0, inplace=True)
data # qator boicha tartbilab oldik

              petal_length  petal_width  sepal_width    species
sepal_length
4.3                    1.1          0.1          3.0     setosa
4.4                    1.4          0.2          2.9     setosa
4.4                    1.3          0.2          3.2     setosa
4.4                    1.3          0.2          3.0     setosa
4.5                    1.3          0.3          2.3     setosa
...                    ...          ...          ...        ...
7.7                    6.7          2.0          2.8  virginica
7.7                    6.7          2.2          3.8  virginica
7.7                    6.9          2.3          2.6  virginica
7.7                    6.1          2.3          3.0  virginica
7.9                    6.4          2.0          3.8  virginica

[150 rows x 4 columns]

In [25]:
data.sort_index(axis=1, inplace=True)
data # ustun boicha tartiblab oldik

              petal_length  petal_width  sepal_width    species
sepal_length
4.3                    1.1          0.1          3.0     setosa
4.4                    1.4          0.2          2.9     setosa
4.4                    1.3          0.2          3.2     setosa
4.4                    1.3          0.2          3.0     setosa
4.5                    1.3          0.3          2.3     setosa
...                    ...          ...          ...        ...
7.7                    6.7          2.0          2.8  virginica
7.7                    6.7          2.2          3.8  virginica
7.7                    6.9          2.3          2.6  virginica
7.7                    6.1          2.3          3.0  virginica
7.9                    6.4          2.0          3.8  virginica

[150 rows x 4 columns]

In [26]:
data.sort_values(by='sepal_width', ascending=True) # sepal_width ustun boicha tartiblaymiz

              petal_length  petal_width  sepal_width     species
sepal_length
5.0                    3.5          1.0          2.0  versicolor
6.0                    4.0          1.0          2.2  versicolor
6.2                    4.5          1.5          2.2  versicolor
6.0                    5.0          1.5          2.2   virginica
6.3                    4.4          1.3          2.3  versicolor
...                    ...          ...          ...         ...
5.4                    1.7          0.4          3.9      setosa
5.8                    1.2          0.2          4.0      setosa
5.2                    1.5          0.1          4.1      setosa
5.5                    1.4          0.2          4.2      setosa
5.7                    1.5          0.4          4.4      setosa

[150 rows x 4 columns]

In [27]:
data.sort_values(by='sepal_length', ascending=False) # sepal_length ustun boicha teskari tartiblaymiz

              petal_length  petal_width  sepal_width    species
sepal_length
7.9                    6.4          2.0          3.8  virginica
7.7                    6.9          2.3          2.6  virginica
7.7                    6.7          2.2          3.8  virginica
7.7                    6.7          2.0          2.8  virginica
7.7                    6.1          2.3          3.0  virginica
...                    ...          ...          ...        ...
4.5                    1.3          0.3          2.3     setosa
4.4                    1.3          0.2          3.2     setosa
4.4                    1.3          0.2          3.0     setosa
4.4                    1.4          0.2          2.9     setosa
4.3                    1.1          0.1          3.0     setosa

[150 rows x 4 columns]

In [30]:
data.sort_values(by=['sepal_length', 'petal_length'], ascending=True) # sepal_length va petal_length ustunlarini tartiblaymiz

              petal_length  petal_width  sepal_width    species
sepal_length
4.3                    1.1          0.1          3.0     setosa
4.4                    1.3          0.2          3.2     setosa
4.4                    1.3          0.2          3.0     setosa
4.4                    1.4          0.2          2.9     setosa
4.5                    1.3          0.3          2.3     setosa
...                    ...          ...          ...        ...
7.7                    6.1          2.3          3.0  virginica
7.7                    6.7          2.0          2.8  virginica
7.7                    6.7          2.2          3.8  virginica
7.7                    6.9          2.3          2.6  virginica
7.9                    6.4          2.0          3.8  virginica

[150 rows x 4 columns]